<div class="col-lg-4 silverBG" id="parking1">
    <div class="row">
        <div class="jumbotron col-lg-8" id="jumbotron">
            @*<p class="lead">ParkCam A1:</p>*@
            <img src="~/images/stranskiplates1.jpg" alt="" />
            <p><button class="btn btn-primary">Check plates &raquo;</button></p>
        </div>
        @*<p><button class="btn btn-primary">Check plates &raquo;</button></p>*@

        <div class="col-lg-4">
            <table class="table  col-lg-4 table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Parking</th>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>Zone</p></td>
                        <td><p>1</p></td>
                    </tr>
                    <tr>
                        <td><p>Vehicles</p></td>
                        <td><p>6</p></td>
                    </tr>
                    <tr>
                        <td><p>Year subscription</p></td>
                        <td><p>1</p></td>
                    </tr>
                    <tr>
                        <td><p>Not payed</p></td>
                        <td><p>1</p></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Vehicles on the Parking#1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>OH609BD</p></td>
                    </tr>
                    <tr>
                        <td class="alert-success"><p>OH104FD</p></td>
                    </tr>
                    <tr>
                        <td><p>OH9887TR</p></td>
                    </tr>
                    <tr>
                        <td><p>OH5647IK</p></td>
                    </tr>
                    <tr>
                        <td class="alert-danger"><p>OH909KM</p></td>
                    </tr>
                    <tr>
                        <td><p>OH567IP</p></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


